/* Base */
.cardbody {
  padding: 14px 16px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  flex-shrink: 0;
}
/* Sizes */
.cardbody-lg {
  padding: 32px 36px;
}
/* Positioning */
.cardbody-absolute {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}