.randommealcard-header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 12px;
}
.randommealcard-card-tag-container {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}
.randommealcard-card-link-container {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
  padding-top: 4px;
}
